name: einvoice-provider

networks:
  einvoice-nw:
    driver: bridge
    name: einvoice-nw
services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./docker/docker_data/mongodb_data:/data/db
    restart: unless-stopped
    networks:
      - einvoice-nw

  postgres:
    image: postgres:17
    container_name: postgres_server
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: einvoice-app
    ports:
      - '5432:5432'
    networks:
      - einvoice-nw
    volumes:
      - ./docker/docker_data/postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin_ui
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    depends_on:
      - postgres
    networks:
      - einvoice-nw
    volumes:
      - ./docker/docker_data/pgadmin_data:/var/lib/pgadmin
